*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#ffffff;

color:#111111;

}

.page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}

.content{

max-width:700px;

animation:fade 1s ease;

}

.small{

font-size:15px;

letter-spacing:5px;

text-transform:uppercase;

color:#999;

margin-bottom:25px;

}

h1{

font-size:82px;

font-weight:600;

letter-spacing:-4px;

margin-bottom:60px;

}

.button{

display:inline-block;

padding:18px 42px;

background:#111;

color:white;

border-radius:999px;

font-size:17px;

transition:.3s;

text-decoration:none;

}

.button:hover{

transform:translateY(-3px);

padding-left:48px;

padding-right:48px;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}
